.book-detail-container {
  background-color: #f5f7fa;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .book-detail-container {
    background-color: #f5f7fa;
    padding: 30px;
    min-height: 400vh;
    min-width: 400vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
