.book-list-container {
  list-style-type: none;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.book-list-img {
  width: 133px;
  height: 190px;
  top: 197px;
  left: 438px;
  border-radius: 8px;
}

.book-list-card {
  height: 120px;
  width: 146px;
  top: 197px;
  left: 591px;
  margin: 10px;
}

.book-list-card-heading {
  color: #334155;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.book-list-card-pargraph2 {
  color: #475569;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.book-list-card-pargraph3 {
  color: #475569;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.span-paragraph {
  color: #0284c7;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.link-book-details {
  text-decoration: none;
}

.book-list-card-sider {
  display: flex;
}

.book-list-card-discprtion-rating {
  color: #475569;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.start-icon-img-list {
  color: #fbbf24;
  width: 16px;
  height: 16px;
  align-self: center;
}
