.slid-home-img {
  height: 180px;
  width: 250px;
  margin: 15px;
  align-self: center;
}

.silde-container {
  padding: 20px;
  height: 400px;
  width: 400px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.silde-heading {
  color: #334155;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
}

.slid-paragraph {
  color: #475569;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: center;
}
.linking-home-img {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .slid-home-img {
    height: 99px;
    width: 146px;
    margin: 15px;
    align-self: center;
  }

  .silde-heading {
    color: #334155;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
  }
  .slid-paragraph {
    color: #475569;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
  }
  .slid-home-img {
    height: 100px;
    width: 150px;
    margin: 15px;
    align-self: center;
  }
}
