.header-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid rgb(243, 243, 243);
  min-width: 100vw;
}

.header-book-img {
  width: 133px;
  height: 41px;
  top: 24px;
  left: 150px;
  margin: 10px;
}

.header-sider {
  display: flex;
}

.unorder-list {
  display: flex;
}

.home-list {
  list-style-type: none;
  color: #0284c7;
  font-weight: 600;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 10px;
}

.book-list {
  list-style-type: none;
  color: #0284c7;
  font-weight: 600;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 10px;
}

.lagout-btn {
  background-color: #0284c7;
  color: white;
  width: 73px;
  height: 32px;
  border-radius: 4px;
  border-width: 0px;
  padding: 8px;
  margin-top: 15px;
}

.linker-pages {
  text-decoration: none;
}

.icon-img {
  height: 40px;
  width: 50px;
  display: none;
}

@media screen and (max-width: 767px) {
  .header-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(243, 243, 243);
    min-width: 400vw;
  }

  .header-book-img {
    width: 133px;
    height: 41px;
    top: 24px;
    left: 150px;
    margin: 10px;
  }

  .header-sider {
    display: flex;
  }

  .unorder-list {
    display: none;
  }

  .home-list {
    list-style-type: none;
    color: #0284c7;
    font-weight: 600;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 10px;
  }

  .book-list {
    list-style-type: none;
    color: #0284c7;
    font-weight: 600;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 10px;
  }

  .lagout-btn {
    background-color: #0284c7;
    color: white;
    width: 73px;
    height: 32px;
    border-radius: 4px;
    border-width: 0px;
    padding: 8px;
    margin-top: 15px;
    display: none;
  }

  .linker-pages {
    text-decoration: none;
  }

  .icon-img {
    height: 30px;
    width: 40px;
    display: flex;
  }
}
