.icons-container {
  width: 145px;
  height: 21px;
  top: 899px;
  left: 647px;
  margin: 50px;
}

.google-icon {
  width: 18px;
  height: 21px;
  top: 899px;
  left: 647px;
  color: #3d3c3c;
  margin: 7px;
}

.contact-paragraph {
  color: #3d3c3c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .icons-container {
    width: 155px;
    height: 50px;
    top: 899px;
    left: 647px;
    margin: 50px;
  }

  .google-icon {
    width: 28px;
    height: 35px;
    top: 899px;
    left: 647px;
    color: #3d3c3c;
    margin: 7px;
  }

  .contact-paragraph {
    color: #3d3c3c;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}
